/*=======================================================================
[Table of contents]
=========================================================================

1. Font Settings
2. Typography Settings
3. Section Title Settings
4. Button Settings
5. Section Settings
*/

/*------------------------------------------------------------------------------
/ 1. Font Settings
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}
body {
  line-height: 32px;
  color: #818181;
  letter-spacing: 0.64px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
}

/*------------------------------------------------------------------------------
/ 2. Typography Settings
------------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5 h6 {
  color: #000000;
  font-weight: 400;
  margin: 0 0 15px;
}
a {
  color: #000;
  text-decoration: none;
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
}
a:focus {
  color: #fff;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*------------------------------------------------------------------------------
/ 3. Section Title Settings
------------------------------------------------------------------------------*/
.noPadding {
  padding: 0;
}
.noPaddingRight {
  padding-right: 0;
}
.noPaddingLeft {
  padding-right: 0;
}

/*------------------------------------------------------------------------------
/ 4. Button Settings
------------------------------------------------------------------------------*/
.common_btn {
  border: none;
  font-size: 13px;
  font-weight: 200;
  background: #000000;
  color: #fff;
  height: 40px;
  width: 170px;
  border-radius: 30px;
  text-transform: uppercase;
  text-align: center;
  /* padding: 28px 45.5px; */
  display: inline-block;
  line-height: 0.8;
  letter-spacing: 1.6px;
  position: relative;
  outline: none;
  transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}

/*------------------------------------------------------------------------------
/ 5. Section Settings
------------------------------------------------------------------------------*/
.commonSection {
  padding: 120px 0;
  position: relative;
}
.commonSection .container {
  position: relative;
  z-index: 2;
}
.grays {
  background: #f5f6fa;
}
.sub_title {
  font-size: 12px;
  line-height: 0.8;
  font-weight: 400;
  color: #818181;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin: 0 0 5px;
}

.sec_title {
  font-size: 60px;
  font-weight: 600;
  color: #000;
  letter-spacing: 1px;
  margin: 0 0 25px;
  white-space: pre-line;
}

.sec_title > span {
  background: linear-gradient(to bottom, transparent 50%, #febd03 0);
}

.sec_title_contact {
  font-size: 42px;
  font-weight: 600;
  color: #000;
  letter-spacing: 1px;
  margin: 0 0 25px;
  white-space: pre-line;
}

.sec_title_contact > span {
  background: linear-gradient(to bottom, transparent 50%, #febd03 0);
}

.red_color {
  color: #e62b4a;
}
.white {
  color: #ffffff;
}
.sec_desc {
  margin: 0 0 54px;
  white-space: pre-line;
}

.color_aaa {
  color: #aaaaaa;
}

.google-map__contact-page {
  width: 100%;
  height: 609px;
}
.google-map__contact-page iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
